<!DOCTYPE html>

<html>

<head>
     <title>About</title>
          <link rel="icon" href="/img/FB_IMG_15531052872583339.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
  {{>header}}
    <img class="portrait" src="/img/chinadors.jpg">
    </div>
  
    {{>footer}}
</body>

</html>