<!DOCTYPE html>

<html>
 
<head>
    <title>Help</title>
        <link rel="icon" href="/img/FB_IMG_15531052872583339.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
   {{>header}}
    <p>{{HelpText}}</p>
    </div>
 
    {{>footer}}
</body>

</html>